<%= form_with(model: @post, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.label :title, "Write a new Post:" %>
  <%= f.text_field :title, placeholder: "Type a title here...", class: 'form-control' %>

  <%= f.text_area :content, placeholder: "Type some text here...", class: 'form-control' %>

  <%= f.submit "Submit", class: "btn btn-primary" %>
  <span class="image">
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
  </span>
<% end %>

<script type="text/javascript">
  $("#post_image").bind("change", function() {
      let size = this.files[0].size / 1024 / 1024;
      if (size > 5) {
          alert("Maximum file size is 5MB. Please choose a smaller file.");
          $("#post_image").val("");
      }
  });
</script>